flask_cors
gevent-websocket
Flask-Sockets
pymongo
flask
waitress
argparse
Werkzeug
gevent
pyserial
MarkupSafe
opencv-python-headless
Hershey-Fonts
scour
numpy
git+https://github.com/meerk40t/svgelements
git+https://github.com/mathandy/svgpathtools.git