.upload-container {}

.image-selection-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 600px;
}

.select-button-container {
  display: flex;
  align-items: center;
  justify-content: left;
}

.selected-file {
  font-size: small;
  margin-left: 5px;
}

.preview-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
}

.preview-content {
  width: fit-content;
}

.upload-button-text {
  cursor: pointer;
}

.actions-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.actions-bar-buttons {
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.action-button {
  margin: 5px;
}

.canvas-containers {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
