.canvas-container {
  border: 2px solid black;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 10;
}

.preview-canvas {
  position: relative;
  width: 100%;
  aspect-ratio : 1 / 1;
  background-color: rgba(255, 0, 0, 0.2);
}

.preview-canvas::before {
  display: block;
}

.canvas-content {
  width: 100%;
}

.canvas-content-wrapper {
  width: 100%;
  position: relative;
}

.svg-label {
  width: 100%;
  position: absolute;
  z-index: 1;
}

.canvas-limits-round {
  background-color: white;
  border-radius: 0 0 0 100%;
  width: 100%;
  height: 100%;
  position: absolute;
}

.canvas-limits-corner {
  background-color: rgba(255, 0, 0, 0.2);
  /* the drawing offset from the base is 30mm out of 585mm */
  width: 5.13%;
  height: 5.13%;
  position: absolute;
  right: 0;
  top: 0;
}
