.canvas-container {
  border: 2px solid black;
  width: 100%;
}

.preview-canvas {
  position: relative;
  width: 100%;
}

.preview-canvas::before {
  display: block;
}

.canvas-content {
  width: 100%;
}